<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pets-R-Us</title>
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap"
        rel="stylesheet">

    <!-- Google fonts for Oswald -->
</head>

<body>
    <nav id="navbar">
        <a href="/">Home</a>
        <a href="/grooming">Grooming</a>
        <a href="/boarding">Boarding</a>
        <a href="/training">Training</a>
        <a href="/register">Register</a>
        <a href="/customers">Customers</a>

    </nav>