<%- include('./partials/_header.html') %>
    <div class="mainContent">
        <h1>Boarding</h1>
        <div class="row">
            <div class="column">
                <img width="400px" src="" alt="">
            </div>
            <div class="column content">
                <p>Our boarding facility is the best in the midwest.
                    We provide activities for all pets for their stay.
                    For dogs, we have 3 acres of land that they can roam around in. Fenced, of course.
                    For our feline friends, we have a designated area with plenty of activities to keep them busy.
                </p>
                <h1>NOTE</h1>
                <p>Lobby is closed during the holidays. Please schedule in advance!</p>
            </div>

        </div>
    </div>

    <%- include('./partials/_footer.html') %>