<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <title>Pets-R-Us Grooming</title>
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap"
        rel="stylesheet">
</head>

<body>

    <nav id="navbar">
        <a href="/">Home</a>
        <a href="/views/grooming.html">Grooming</a>

    </nav>


    <div class="mainContent">
        <h1>Pets-R-Us</h1>
        <div class="row">
            <div class="column">
                <img width="400px" src="" alt="">
            </div>
            <div class="column content">
                <p>Information goes here</p>
            </div>

        </div>
    </div>
    <div id="footer">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/views/grooming.html">Grooming</a></li>
        </ul>
    </div>
</body>

</html>

</html>