<%- include('./partials/_header.html') %>
    <div class="mainContent">
        <h1>Grooming</h1>
        <div class="row">
            <div class="column">
                <img width="400px" src="" alt="">
            </div>
            <div class="column content">
                <p>Full-Service Groom Includes:</p>
                <ul>
                    <li>Bath</li>
                    <li>Brush</li>
                    <li>Haircut</li>
                    <li>Nail Trim</li>
                    <li>Ear Plucking and Cleaning</li>
                    <li>Sanitary Trim</li>
                </ul>
                <p>Add-ons include nail grinding, teeth brushing, glands expressed, and nail painting.</p>
                <p>Pricing is breed-specific. Final cost is determined by the pet stylist that factors in breed, size,
                    condition of the coat, and behavior. All prices subject to change without notice.</p>
                <p>Call Us Today to Schedule an Appointment or To Get an Estimate!</p>
                <p>Walk-In Services (a la cartes) &#8211; No Appointment Necessary</p>
                <ul>
                    <li>Nail Trim / Grind</li>
                    <li>Pawdicure (Paw and Nail Trim)</li>
                    <li>Grand Pawdicure (Paw Trim , Nail Trim and Grind)</li>
                    <li>Ear Cleaning and Plucking</li>
                    <li>Eye Scooping</li>
                    <li>Face Trim</li>
                    <li>Sanitary Trim</li>
                </ul>
            </div>

        </div>
    </div>

    <%- include('./partials/_footer.html') %>