<%- include('./partials/_header.html') %>
    <div class="mainContent">
        <h1>Training</h1>
        <div class="row">
            <div class="column">
                <img width="400px" src="" alt="">
            </div>
            <div class="column content">
                <p>We provide training for dogs. Please contact our training specialist to schedule an appointment
                    today!</p>
            </div>

        </div>
    </div>

    <%- include('./partials/_footer.html') %>