body {
    background-color: #B4D1CE;
    margin: 0;
}

#navbar {
    text-align: right;
    overflow: hidden;
    border-bottom: 2px solid #000;
}

#navbar a {
    display: inline-block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

h1,
p,
a,
li {
    font-family: 'Barlow Condensed', sans-serif;
    margin: 0px;
}

p {
    font-size: 20px;
    line-height: 1.4em;
}

.mainContent {
    max-width: 800px;
    margin: 0 auto;
    height: 100%;
}

.mainContent h1 {
    text-align: center;
}

.row {
    display: flex;
    padding: 20px 0px;
}

.content {
    padding: 0px 10px;
}

#footer {
    text-align: center;
    border-top: 2px solid #000;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.about #footer {
    position: relative;
}

.hobby #footer {
    position: relative;
}

#footer li {
    list-style: none;
}

#footer a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    line-height: 1.4em;
}

@media screen and (max-width: 740px) {
    .mainContent .row {
        display: block;
    }
}